body {
  font-family: sans-serif;
  text-align: center;
}

form {
  display: block;
}

p>label>* {
  display: block;
}

mi-footer {
  display: block;
  margin: 1rem 0;
  font-size: small;
  text-align: center;
}
